@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding-top:100px;
    background-color: #F1F2F4;

}

body::-webkit-scrollbar{
    display: none;
}

header{
    position: fixed;
    width:100%;
    background-color: white;
    top:0;
    left:0;
    z-index: 2;
}

a:hover{
    cursor:pointer;
}

ul{
    padding-left: 0px;
}

.button-title{
    padding-top:5px;
    padding-left:4px;
}

.logo{
    /* width:125px; */
    height:40px;
    object-fit: contain;
    padding-right:20px;
}

.search-logo{
    width:20px;
}

.search-button{
    border-right:none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #f0f5ff;
    border:none;
}
.search-button:hover{
    cursor:pointer;
}

.header-container{
    /* border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: black; */
    display:flex;
    align-items:center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

  
     /* width:125px; */

    padding:12px 28px;
}

.search-box-part{
    display:flex;
    flex:1.5;
}

.search{
    width:80%;
    /* border-radius: 8px; */
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #f0f5ff;
    border:none;
    font-size: large;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search::placeholder{
    font-family: 'Roboto',sans-serif;
    font-size: large;
}

.search:focus{
    outline:none;
}

.right-part{
    display:flex;
    flex:1;

}
.shop-logo{
    width:30px;
    height:30px;
    
}
.shop{
    display:flex;
    flex:2;
    padding-top:5px;
    justify-content: center;
    
}
.signin-content{
    padding-top:3px;
    padding-left:5px;
    display:flex;
}
.signIn-button {
    display:flex;
    border-radius:8px;
    border:none;
    padding:8px;
    background-color: white;
}

.signIn-button:hover {
    cursor:pointer;
    background-color:#2a55e5;
    color:white;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}
.signIn-button-container:hover .dropdown-content 
{
   display:block;
  
}

.dropdown-content a {
    color: black;
    padding: 12px ;
    font-size: 14px;
    text-decoration: none;
    display: block;
   
   
  }
.signIn-button:hover .signin-logo{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);

}


.dropdown-content a:hover {
    background-color: #ddd;
}


.signIn-button:hover .expand-logo{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    transition:20ms;
    transform: rotate(180deg);
    animation: rotateImg 0.3s linear ;
}


@keyframes rotateImg{
    from {
     transform: rotate(0deg);
    }
   to {
    transform: rotate(180deg);
   }
  }

.signin{
    display:flex;
    flex:2;
    padding-left: 20px;
    justify-content: center;
    
}
.cart{
    display:flex;
    flex:1;
    justify-content: center;
}
.cart-content{
    padding-top:9px;
    padding-left:4px;
   
}
.right-part{
    display:flex;
    flex:1;

}
.more-container{
    display:flex;
    flex:1;
    justify-content: center;
    padding-right: 40px;
}
.more-container .dropdown-content{
    top:82%;
    right:5%;
}
.more-container:hover .dropdown-content{
    display:block;
}

.dropdown-content span{
    color:#2a55e5;
    padding-left: 10px;
}

.signin-logo{
    width:25px;
    object-fit:contain;

}
.cart-logo{
    width:25px;
    object-fit:contain;
}
.more-logo{
    width:25px;
    object-fit:contain;
    padding-left:5px;
    padding-right: 5px;
   
}
.more-logo:hover{
    cursor:pointer;
    border:solid grey 1px;
    border-radius: 5px;
}

.pic{
    width:100%;
}

.about >p,.help>p,.policy>p,.social>p{
    margin:0;
}

.details-container {
    background-color:#212121;
    color:white;
    display:flex;
    font-family: inter_semi_bold,fallback-inter_semi_bold,Arial,sans-serif;
    font-size:12px;
    padding:40px;
    flex-direction: row;
    font-size:small;
    justify-content: space-between;    
    user-select: none;
}

.details{
    display:flex;
    flex-direction: row;
    flex:1.5;
    justify-content: space-between;
    padding-right:50px;
    font-weight: bold;
}

.about ,.help ,.policy ,.social,.mail >p,.address > p{
    display:flex;
    flex-direction: column;
    align-items: start;
    margin:0;
}

#title{
    margin-top:13px;
    margin-bottom:13px;
    color:#878787;
}

hr{
    color:#2e3138;
}

.contacts{
    display:flex;
    flex:1;
    flex-direction:row;
    justify-content: space-between;
    padding-left:20px;
}
.footer-img{
    display:block;
    width:100%;
}

/* body */

.body{
    padding-left: 10px;
    padding-right:10px;
}

.products{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: white;
    margin-bottom:10px;

}
.products-img-container{
 
    padding:16px;
    font-size: small;
    font-weight: bold;
}

.products-img-container:hover .expand-logo{
    filter: sepia(100%) hue-rotate(190deg) saturate(900%);
    transition:20ms;
    transform: rotate(180deg);
    animation: rotateImg 0.3s linear ;
    
}
.products-img-container:hover #dropdown-heading{
    color:#5384f0;
}

#dropdown-heading{
    display:flex;
    justify-content: center;
    align-items: center;
 
}

.items{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    white-space: nowrap;

}

.items::-webkit-scrollbar{
    display: none;
}

.items-container{
    background-color:white;
    display: flex;
    flex-direction: column;
    position:relative;
    padding-left:10px;
    margin-bottom:10px;
    padding-bottom: 10px;
   
}

.item-heading{
    display:flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    padding:16px;
    padding-left:8px;

}

.item-title{
    flex:4;
}

.item{
    border:solid 0.8px #878787;
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    padding:6px;
    margin-right:20px;
}


.item-img-container{
    display:flex;
    padding-bottom:10px;
    align-items: center;
    
}
#item-img{
    width:186px;
    height:169px;
    object-fit: contain;
}
/* #item-img:hover{
    width:190px;
    height:172px;
    object-fit:fill;
} */
.product-name,.price{
    display:flex;
    justify-content:center;
    font-size:14px;

}

.price{
   
    font-weight: 600;
}

#scroll-right{
    position: absolute;
    z-index: 1;
    top:100px;
    right: 0px;
    height: 100px;
    border:none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.into{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width:20px;
    border:none;
    background-color: #2a55e5;
   border-radius: 50%;
}

.cards-container{
    display: flex;
    justify-content: space-between;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}
.card{
    display:flex;
    flex-direction: column;
    background-color: white;
    padding-left: 24px;
    padding-right: 12px;
}
.card-top,.card-bottom{
    display:flex;
    flex-direction: row;
    padding:10px;
    padding-bottom:5px;
}

.rightarrow-logo{
    width:15px;
}


